## List of Files that SHOULD NOT be uploaded to GitHub

# Virtual environment files and folders (with a slash) should be ignored

.venv/
.venv


# Naming the virtual environment folder .env is also common

.env/
.env


# VS Code Project Settings should generally be ignored

.vscode/